header.main-header {
    background-color: transparent;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
}

.navbar-brand a{
    color: #0d369f;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    display: flex;

}

.menu li {
    padding: 30px;
    justify-content: space-between;
    list-style-type: none;
}
